
#navbar a{
    text-decoration:none;
    color:white;
}
#navbar li{
    display:inline-block;
    border: 2px solid black;
    padding: 2px;
    font-family:Arial;
    font-size: 50px;
    
    
    
    transition:0.5s linear;
    background-color:rgb(217,237,246);
    transform:rotateZ(0deg);
    transform-origin:-2px;
}
#navbar li:Hover {
    font-size:60px;
    transform:rotateZ(0.5deg);
    background-color:  rgb(21,34,53);
    
}
#title{
    text-align:Center;
    font-family:Arial;
    font-size:100px;
    
}
#p {
    font-size:50px;
    text-align:Center;
    font-family:Arial;
}
body {
     font-family: Arial;
    
}
#navbar a:visited { 
    text-decoration: none; 
    
}
#climb{
    text-align:center;
}
















